@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
}

body {
    background-color: #fff59d;
    min-width: 360px; /* Asegura que el contenido no se desborde */
}

.container {
    display: flex;
    flex-direction: column; /* Coloca los formularios uno debajo del otro */
    align-items: center; /* Centra los formularios */
    padding: 20px;
}

.container-form {
    width: 90%; /* Utiliza el 90% del ancho de la pantalla */
    max-width: 400px; /* Ancho máximo para no exagerar en pantallas grandes */
    margin: 10px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 22px; /* Tamaño de encabezado más pequeño */
    margin-bottom: 15px;
    text-align: center; /* Centra el texto */
}

.container-input {
    position: relative;
    margin-bottom: 15px;
}

.container-input input {
    width: 100%; /* Full width para campos de entrada */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Tamaño de fuente para inputs */
}

.button {
    width: 100%; /* Full width para botones */
    padding: 10px;
    background-color: #1b3039;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px; /* Tamaño de fuente para botones */
}

.button:hover {
    background-color: #ffbc0e; /* Cambio de color al pasar el mouse */
}

/* Media Queries para Responsividad */
@media screen and (max-width: 360px) {
    h2 {
        font-size: 20px; /* Reduce el tamaño del encabezado en pantallas pequeñas */
    }

    .button {
        font-size: 16px; /* Tamaño de fuente más pequeño en botones */
    }

    body {
        font-size: 16px; /* Tamaño de fuente más pequeño en cuerpo */
    }
}